<!--
***********************************************************************************
* Name          :  jobListing LWC
* Description   :  To display the job applications related to job opening
* Author        :  NLINEAXIS

Modification Log
----------------
Date            Version     Developer          Comments
------------------------------------------------------------------------------------
03/25/2021      1.0.0       NLINEAXIS          Created
05/17/2021      1.1.0       NLINEAXIS          Modified:- Added Status picklist beside search box
05/18/2021      1.2.0       NLINEAXIS          Modified:- Added gear icon in each row and custom popup functinality
05/20/2021      1.3.0       NLINEAXIS          Modified:- Search functonality on change status And CR related to custom popup UI
/***********************************************************************************/
-->
<template>
    <div class="slds-box slds-theme_default topDivPadding">
        <lightning-card title="Job Applications" icon-name="custom:custom15">
            <div class="top-div">
                <div class="slds-grid">
                    <div style="width:70%">
                        <lightning-input value={searchStr} onkeypress={searchJobAppdata} placeholder="Search"></lightning-input>
                    </div>
                    <div style="width:1%"></div>
                    <div style="width:30%">
                        <span data-aria="" class="slds-assistive-text"></span>
                        <label for="input-251" class="slds-form-element__label slds-no-flex"></label>
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select class="slds-select" onchange={statusChangeHandler}>
                                        <option value="">--Select Status--</option>
                                        <template for:each={statusOptions} for:item="option">
                                            <option key={option.fieldAPIName} value={option.fieldLabel}>{option.fieldLabel}</option>
                                        </template>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tableFixHead">
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                        <thead>
                            <tr>
                                <th>
                                    <div></div>
                                </th>
                                <template for:each={jobAppFieldSetFields} for:item="field">
                                    <th scope="col" key={field.fieldAPIName}>
                                        <div title={field.fieldAPIName}>{field.fieldLabel}</div>
                                    </th>
                                </template>
                            </tr>
                        </thead>
                        <tbody>
                            <template if:true={jobApplications}>
                                <template for:each={jobApplications} for:item="jobApp">
                                    <tr key={jobApp.keyId}>
                                        <td>
                                            <div>
                                                <button class="slds-button" onclick={openModal}>
                                                    <lightning-icon name={jobApp.keyId} size="x-small" icon-name="utility:settings" title="Setting"></lightning-icon>
                                                </button>
                                            </div>
                                        </td>
                                        <template for:each={jobApp.fieldSetMemberWrapperLi} for:item="jobAppData">
                                            <template if:true={jobAppData.isRefrenceField}>
                                                <td key={jobAppData.recordId}>
                                                    <a href="javascript:void(0);" onclick={navigateToDetailPage} target="_self" lang={jobAppData.refrenceObjName} title={jobAppData.refrenceId}>
                                                        {jobAppData.refrenceName}
                                                    </a>
                                                </td>
                                            </template>
                                            <template if:false={jobAppData.isRefrenceField}>
                                                <template if:true={jobAppData.isNameField}>
                                                    <td key={jobAppData.recordId}>
                                                        <a href="javascript:void(0);" onclick={navigateToDetailPage} target="_self" lang={jobAppData.refrenceObjName} title={jobAppData.recordId}>
                                                            {jobAppData.fieldValue}
                                                        </a>
                                                    </td>
                                                </template>
                                                <template if:false={jobAppData.isNameField}>
                                                    <template if:true={jobAppData.isEmailField}>
                                                        <td key={jobAppData.recordId}>
                                                            <a href="javascript:void(0);" onclick={navigateToDetailPage} target="_self" lang={jobAppData.refrenceObjName} title={jobAppData.refrenceId}>
                                                                {jobAppData.fieldValue}
                                                            </a>
                                                        </td>
                                                    </template>
                                                    <template if:false={jobAppData.isEmailField}>
                                                        <td key={jobAppData.recordId}>
                                                            <div lang={jobAppData.fieldAPIName}>{jobAppData.fieldValue}</div>
                                                        </td>
                                                    </template>
                                                </template>
                                            </template>
                                        </template>
                                    </tr>
                                </template>
                            </template>
                        </tbody>
                    </table>
                </div>
                <template if:true={isNoRecords}>
                    <div class="no-records">
                        No Records to display
                    </div>
                </template>
            </div>

            <template if:true={isModalOpen}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <!--Modal Header-->
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                                Job Application Name: {jobAppDetail.Name}
                            </h2>
                        </header>
                        <!--Modal Body-->
                        <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">

                            <table>
                                <thead>
                                    <tr>
                                        <th><div></div></th>
                                        <th><div></div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="slds-form-element__label">Candidate</label><br/>
                                            <template if:true={jobAppDetail.Candidate__c}>
                                                <a href="javascript:void(0);" onclick={navigateToDetailPage} target="_self" >
                                                    <lightning-formatted-text lang="Contact" title={jobAppDetail.Candidate__c} value={jobAppDetail.Candidate__r.Name} linkify></lightning-formatted-text>
                                                </a>
                                            </template>
                                        </td>
                                        <td>
                                            <label class="slds-form-element__label">Email</label><br/>
                                            <lightning-formatted-text value={jobAppDetail.Email__c} linkify></lightning-formatted-text>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="top_Cls">
                                                <label class="slds-form-element__label">Phone</label><br/>
                                                <lightning-formatted-text value={jobAppDetail.Phone__c}></lightning-formatted-text>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="top_Cls">
                                                <label class="slds-form-element__label">Location</label><br/>
                                                <template if:true={jobAppDetail.Job_Opening__c}>
                                                    <template if:true={jobAppDetail.Job_Opening__r.Location__c}>
                                                        <lightning-formatted-text value={jobAppDetail.Job_Opening__r.Location__c}></lightning-formatted-text>
                                                    </template>
                                                </template>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><br/>

                            <label class="slds-form-element__label">Status</label>
                            <div class="slds-select_container">
                                <select class="slds-select" onchange={changeStatus}>
                                    <option value="">--None--</option>
                                    <template for:each={statusSelectOptions} for:item="option">
                                        <option key={option.id} value={option.label} selected={option.selected}>{option.label}</option>
                                    </template>
                                </select>
                            </div><br/>

                            <label class="slds-form-element__label" for="horizontal-input-id-02">Notes</label>
                            <textarea id="horizontal-input-id-02" rows="5" class="notesCls slds-textarea">{modalNotes}</textarea><br/><br/>

                            <label class="slds-form-element__label">Cover Letter</label><br/>
                            <lightning-formatted-text value={jobAppDetail.Cover_Letter__c}></lightning-formatted-text><br/>
                            
                            <template if:true={jobAppDetail.Cover_Letter__c}>
                                <br/>
                            </template>

                            <label class="slds-form-element__label">Resume Details</label><br/>
                            <lightning-formatted-text value={jobAppDetail.Resume_Details__c}></lightning-formatted-text>

                            <!--File Details-->
                            <template if:true={fileDataLi}>
                                <br/><br/>
                                <table>
                                    <thead>
                                        <tr>
                                            <th><div></div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template for:each={fileDataLi} for:item="file">
                                            <tr key={jobAppDetail.Id}>
                                                <td>
                                                    <template if:true={file.documentId}>
                                                        <div class="top_File_Cls">
                                                            <a href="javascript:void(0);" onclick={navigateToFileDetailPage} target="_self" >
                                                                <lightning-formatted-text lang="File" title={file.documentId} value={file.documentTitle}></lightning-formatted-text>
                                                            </a>
                                                        </div>
                                                    </template>
                                                </td>
                                            </tr>
                                            <tr key={jobAppDetail.Id}>
                                                <td>
                                                    <div>
                                                        <lightning-formatted-date-time value={file.createdDate}></lightning-formatted-date-time> - {file.documentContentSize} - {file.fileExtension}
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                        <!--Modal Footer-->
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                            <button class="slds-button slds-button_brand" onclick={submitDetails} title="Save">Save</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>
        </lightning-card>
    </div>
</template>