.top-div {
    margin-top: -12px;
}
.no-records{
    margin-top: 15px;
    text-align: center;
}
.tableFixHead {
    overflow: auto;
    max-height: 447px;
    margin-top: 10px;
    margin-left: -16px;
    margin-right: -16px;
}
.tableFixHead table {
    border-collapse: collapse;
}
.tableFixHead th {
    position: sticky;
    top: -1px;
    z-index: 4;
    background: #f3f2f2;
}
.tableFixHead table td, .tableFixHead table th{
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
}
.topDivPadding{
    padding-bottom: 0px;
}
.top_Cls{
    margin-top: 5%;
}
.top_File_Cls{
    margin-top: 2%;
}